body {
    font-family: Helvatica, sans-serif;
    letter-spacing: 2px;
    background: #ffffff;
    background: linear-gradient(180deg, #ffffffe2 0%, #000000be 100%);
    ;
}

#wraper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 1366px;
    margin: 0 auto;
}

#wraper>* {
    /* background-color: #dddddd; */
    background-color: #dddddd3f;
}


/* Header part */

.logo {
    width: 100px;
}

.logo_wraper {
    background: none!important;
}

header {
    grid-column: 2/13;
    background: none!important;
}


/* navbar icons */

.navicon {
    font-size: 20px;
    display: block;
    margin: 10px;
    margin-right: 10px;
    height: 24px;
    width: 24px;
    color: white;
    cursor: pointer;
    transition: color .2s ease-out;
}

.navicon:hover {
    color: #fdc23e;
}

.inline {
    float: right;
    padding-top: 15px;
    padding-right: 10px;
}

.container {
    background: #999999;
    border-radius: 15px;
    width: 100%;
    height: 70%;
    margin-top: 15px;
}


/* Navigation styling */

ul {
    list-style: none;
    display: flex;
    float: left;
    padding-top: 13px;
}

li a {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 12pt;
    text-transform: uppercase;
    transition: color .2s ease-out;
}

li a:visited {
    color: #ffffff;
}

li a:hover {
    color: #fdc23e;
}

li {
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #ffffff;
}

li:last-child {
    border-right: none;
}


/* My account */

.nested {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 10px;
}

.nested a {
    grid-column: 1 / 4;
    padding: 20px 0px 5px 30px;
}

.content {
    min-height: 400px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    padding: 30px 20px;
}

.title1 {
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 0;
    padding-left: 30px;
}

.title2 {
    grid-column: 1 /3;
    grid-row: 2;
    margin: 0;
    padding-left: 30px;
}

input {
    margin: 20px 30px 0px 30px;
    padding: 20px;
    display: block;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 11pt;
    width: 60%;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    grid-column: 1 / 13;
    outline: none;
}

input::placeholder {
    color: #a5a5a5;
}

.box {
    padding-top: 20px;
    grid-column: 1 / 7;
}

button {
    background: #ffffff;
    padding: 10px 15px;
    color: #999999;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    box-shadow: 6px 6px 29px -3px rgb(0, 0, 0, 0.75);
    margin: 0px 40px 0px 30px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.4s;
    outline: none;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #999999;
    color: #ffffff;
}

.box p {
    font-size: 10pt;
    display: inline;
}

.link {
    color: #ff9000;
    font-size: 11pt;
    letter-spacing: .3px;
    transition: color .2s;
}

.link:hover {
    color: #fdc23e;
}


/* Login/Reg End */


/* Home page */

.popular {
    grid-column: 1 / 13;
    grid-row: 2 / 6;
}

.categories {
    grid-column: 1 / 13;
    grid-row: 6;
}

.cat1 {
    grid-column: 1 / 5;
    grid-row: 7 / 12;
}

.cat2 {
    grid-column: 5 / 9;
    grid-row: 7 / 12;
}

.cat3 {
    grid-column: 9 / 13;
    grid-row: 7 / 12;
}

.mission {
    grid-column: 1 / 13;
    grid-row: 12 / 16;
}

footer {
    grid-column: 1 / 13;
    height: 400px;
}


/* Beers page*/

.banner {
    grid-column: 1 / 13;
    grid-row: 2 / 5;
}

.filter {
    grid-column: 1 / 3;
    grid-row: 5 / 15;
}

.products {
    grid-column: 3 / 13;
    grid-row: 5 / 15;
}

.products .content {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card {
    margin: 10px auto;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 #00000033;
    max-width: 300px;
    text-align: center;
}

.card p {
    display: block;
}

.price {
    color: gray;
    font-size: 20pt;
}

.btn-wraper {
    width: 100%;
    display: flex;
    text-align: center;
}

.btn-inline {
    display: inline-block;
}

.card-btn {
    border: none;
    outline: 0;
    padding: 15px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 150px;
    font-size: 10pt;
    box-shadow: none;
    margin: 0;
    border-radius: 0px;
}

.img {
    height: 300px;
}


/* Special Offers page */

.items {
    grid-column: 1 / 13;
    grid-row: 5 / 10;
}


/*About Us page*/

.about {
    grid-column: 1 / 13;
    grid-row: 2 / 12;
}

.reviews {
    grid-column: 1 / 13;
    grid-row: 12 / 15;
}


/* Conctact Us page*/

.contact-us {
    grid-column: 1 / 10;
    grid-row: 2 / 8;
    padding: 20px;
}

.details {
    grid-column: 10 / 13;
    grid-row: 2 / 8;
}

.row {
    display: flex;
}

.row input {
    margin: 0px 20px 0px 20px;
    width: 50%;
}

.block {
    padding: 20px;
    display: block;
}

.subject {
    box-sizing: border-box;
    margin: 10px 0px 20px 0px;
    width: 100%;
}

.area {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 11pt;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    outline: none;
    resize: none;
    height: 200px;
}

.area::placeholder {
    color: #a5a5a5;
}

.contact-form button {
    margin-bottom: 30px;
}

.contact-form h3 {
    padding: 20px;
}

.details {
    padding: 20px;
}

.details h3,
h4 {
    font-weight: 400;
}

.details-icons {
    font-size: 20px;
    margin: 20px 5px;
}

.details .link {
    color: #202020;
    font-size: 11pt;
    letter-spacing: .3px;
    transition: color .2s;
}

.details .link:hover {
    color: #636363;
}


/* Login Page */

.login {
    grid-column: 1 / 13;
    grid-row: 2 / 6;
    padding: 20px;
}

.my-account {
    grid-column: 1 / 13;
}


/* Lost-Password page*/

.lost-pass {
    padding: 20px;
    grid-column: 1 / 13;
    grid-row: 2 / 6;
}

.lost-pass input {
    width: 60%;
    outline: none;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    margin-top: 30px;
}

.lost-pass p,
h4 {
    margin-left: 30px;
}

.lost-pass button {
    margin-top: 40px;
}


/* Rgister page */

.register-box {
    grid-column: 1 / 13;
    grid-row: 2 / 7;
    padding: 20px;
}

.register-box .content {
    height: auto;
    padding-bottom: 40px;
}

.reg-form {
    display: flex;
}

.column1 {
    flex: 1;
    width: 50%;
}

.column2 {
    width: 50%;
}

.reg-form button {
    margin-top: 30px;
}

.register-box input {
    width: 70%;
    padding: 15px;
    margin: 0px 0px 20px 30px;
}

.register-box label {
    font-size: 12pt;
    margin-left: 30px;
}

.form-control {
    margin-bottom: 50px;
}

.form-control input {
    margin-bottom: 0;
}

.form-control small {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 9pt;
    visibility: hidden;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}