.row-form {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.col-25 {
    width: 41.5%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-100 {
    -ms-flex: 100%;
    /* IE10 */
    flex: 100%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0;
}

.col-50 h3 {
    padding-bottom: 15px;
}

.check-out.conent {
    padding-top: 0;
}

.content-box {
    background: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 50px;
}

.details[type=text] {
    width: 70%;
    margin: 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 20px;
    margin-top: 35px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

span.price {
    float: right;
    color: grey;
}

.col {
    padding-top: 20px;
    width: 60%;
}

.row-checkbox {
    display: inline;
    width: auto;
    margin: 0 10px;
}

button.btn-order {
    padding: 10px 55px;
    float: right;
    margin-top: 20px;
}