.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    width: 1000px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .3px solid #00000033;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    font: 1.25rem;
    font-weight: bold;
}

.brewery-link {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #f08812;
    cursor: pointer;
    width: 170px;
    font-size: 7pt;
    box-shadow: none;
    margin: 0;
    border-radius: 5px;
}

.brewery-link:hover {
    background-color: rgb(255, 177, 88);
}

.btn-wraper {
    width: 100%;
    justify-content: center;
}

.modal-body {
    padding: 10px 15px;
    display: flex;
}

.modal-body p {
    font-weight: 300;
    line-height: 1.9em;
    letter-spacing: 2px;
}

.column {
    margin: 15px 10px;
    flex: 50%;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}


/* beer image box */

.slideshow {
    position: relative;
}


/* Hide the images by default */

.product-slide {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 400px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.image {
    box-sizing: border-box;
    height: 800px;
    width: 600px;
}