body {
    font-family: Helvatica, sans-serif;
    letter-spacing: 2px;
    background: #ffffff;
    background: linear-gradient(180deg, #ffffffe2 0%, #000000be 100%);
}

#wraper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 1366px;
    margin: 0 auto;
}


/* #wraper>* {
    /* background-color: #dddddd; */


/* background-color: #dddddd3f; */


/* } */


/* Header part */

.logo {
    width: 100px;
}

.logo_wraper {
    background: none!important;
}

header {
    grid-column: 2/13;
    background: none!important;
}


/* navbar icons */

.navicon {
    font-size: 20px;
    display: block;
    margin: 10px 10px;
    height: 24px;
    width: 24px;
    color: white;
    cursor: pointer;
    transition: color .2s ease-out;
}

.quantity {
    position: relative;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 9pt;
    margin: 0;
    padding: 0;
    top: -10px;
    letter-spacing: .5px;
}

.navicon:hover {
    color: #fdc23e;
}

.inline {
    float: right;
    padding-top: 15px;
    padding-right: 10px;
}

.container {
    background: #999999;
    border-radius: 15px;
    width: 100%;
    height: 70%;
    margin-top: 15px;
    justify-content: space-between;
}

.search-container {
    float: left;
    width: fit-content;
    padding: 20px 0px 0px 50px;
}

.search-container input {
    padding: 8px;
    width: 200px;
    margin: 0;
    border: none;
    border-radius: 0px;
    display: inline-block;
}

.search-container button {
    border-radius: 0px;
    border: 0px;
    margin: 0;
    padding: 8px;
    box-shadow: none;
    font-size: 10pt;
    float: right;
    transition: 0.4s;
}


/* Navigation styling */

ul {
    list-style: none;
    display: flex;
    float: left;
    padding-top: 13px;
}

li a {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 12pt;
    text-transform: uppercase;
    transition: color .2s ease-out;
}

li a:visited {
    color: #ffffff;
}

li a:hover {
    color: #fdc23e;
}

li {
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #ffffff;
}

li:last-child {
    border-right: none;
}


/* My account */

.nested {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 10px;
}

.nested a {
    grid-column: 1 / 4;
    padding: 20px 0px 5px 30px;
}

.content {
    min-height: 400px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    padding-top: 10px;
}

.title1 {
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 0;
    padding-left: 30px;
}

.title2 {
    grid-column: 1 /3;
    grid-row: 2;
    margin: 0;
    padding-left: 30px;
}

input {
    margin: 20px 30px 0px 30px;
    padding: 20px;
    display: block;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 11pt;
    font-size-adjust: 0.55;
    width: 60%;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    grid-column: 1 / 13;
    outline: none;
}

input::placeholder {
    color: #a5a5a5;
}

.box {
    padding-top: 20px;
    grid-column: 1 / 7;
}

button {
    background: #ffffff;
    padding: 10px 15px;
    color: #999999;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    box-shadow: 6px 6px 29px -3px rgb(0, 0, 0, 0.75);
    margin: 0px 40px 0px 30px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.4s;
    outline: none;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #999999;
    color: #ffffff;
}

.box p {
    font-size: 10pt;
    display: inline;
}

.link {
    color: #ff9000;
    font-size: 11pt;
    letter-spacing: .3px;
    transition: color .2s;
}

.link:hover {
    color: #fdc23e;
}


/* Home page */

.popular {
    grid-column: 1 / 13;
    grid-row: 2 / 6;
}


/* banners start */

.banner-slide {
    display: none;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #a3a3a3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s
}

.active {
    background-color: #edab30;
}


/* fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* banners end */

.categories {
    grid-column: 1 / 13;
    grid-row: 6;
}

.categories h2 {
    color: #ffffff;
    font-weight: 300;
    font-size: 22pt;
    letter-spacing: 2px;
}

.cat1 {
    grid-column: 1 / 5;
    grid-row: 7 / 13;
}

.cat2 {
    grid-column: 5 / 9;
    grid-row: 7 / 13;
}

.cat3 {
    grid-column: 9 / 13;
    grid-row: 7 / 13;
}

.mission {
    grid-column: 1 / 13;
    grid-row: 13 / 17;
}

.badge {
    background-color: #fdc23e;
    color: #fff;
    z-index: 999;
    padding: 5px;
}

.badge.new-item {
    background-color: #4aa466;
    color: #fff;
    z-index: 999;
    padding: 5px;
}

.btn-block {
    width: 100%;
    text-align: center;
}

.btn-block .card-btn {
    width: 100%;
}

.badge h5 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    letter-spacing: 4px;
}

.mission-wraper {
    display: flex;
    height: 100%;
    width: 100%;
}

.mission-title h2 {
    color: #ffffff;
    font-weight: 300;
    font-size: 22pt;
    letter-spacing: 2px;
}

.col30 h3 {
    display: inline-block;
    margin: 20px 0 0 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
}

.col30 h4 {
    display: inline-block;
    margin: 20px 0 0 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.6em;
    text-transform: initial;
}

.col30 {
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.col30 .row {
    display: block;
}

.mission-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    grid-column: 1 / 13;
    height: 300px;
    margin-top: 50px;
    flex: 1 0 auto;
}

.col-wraper {
    height: 90%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

footer hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid #0000001a;
    border-bottom: 1px solid #ffffff4d;
}

.col25 {
    width: 25%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.col25 .row {
    position: relative;
    display: inline;
    text-align: center;
}

.col25 h4 {
    margin: 80px 0 0 0;
    color: #ffffff;
}

.col25 h5 {
    padding-top: 10px;
    font-weight: 500;
    color: #ffffff;
}

.col50 {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col50 h5 {
    position: absolute;
    margin: 0;
    bottom: 0;
    font-weight: 200;
    color: #ffffff;
}

.logo2 {
    width: 150px;
}


/* Beers page*/

.banner {
    grid-column: 1 / 13;
    grid-row: 2 / 6;
}

.filter {
    grid-column: 1 / 4;
    grid-row: 6 / auto;
}

.products {
    grid-column: 4 / 13;
    grid-row: 6 / auto;
}

.products .content {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card {
    margin: 10px auto;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 #00000033;
    max-width: 300px;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    height: 610px;
}

.card-long {
    margin: 10px auto;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 #00000033;
    max-width: 300px;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    height: 650px;
}

.card-long p {
    font-weight: 300;
    font-size: 11pt;
}

.card p {
    display: block;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 10px;
}

.card h3 {
    color: gray;
    font-size: 20pt;
    margin-top: 5px;
    font-weight: 400;
    margin-top: 40px;
}

.card h4 {
    color: gray;
    font-size: 20pt;
    margin-top: 5px;
    margin: 5px;
}

.card-long h4 {
    color: gray;
    font-size: 20pt;
    margin-top: 5px;
    margin: 5px;
}

.btns-wraper {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
}

.btn-inline {
    display: inline-block;
}

.card-btn {
    border: none;
    outline: 0;
    padding: 15px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 150px;
    font-size: 10pt;
    box-shadow: none;
    margin: 0;
    border-radius: 0px;
}

.img {
    height: 350px;
}

.content .row {
    position: relative;
    box-sizing: border-box;
    padding: 8px 10px 8px 10px;
    width: 100%;
    font-size: 10pt;
}

.content .row:hover {
    color: #fdc23e;
}

.row label {
    width: 100%;
    cursor: pointer;
}

.filter-input {
    width: 50px !important;
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
}

.filter-quantity {
    float: right;
}


/* Special Offers page */

.special-products {
    grid-column: 4 / 13;
    grid-row: 6 / auto;
}

.special-products .content {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.filter-special {
    grid-column: 1 / 4;
    grid-row: 6 / auto;
}


/* Other Drinks */

.other-products {
    grid-column: 4 / 13;
}

.other-products .content {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}


/*About Us page*/

.about {
    grid-column: 1 / 13;
    grid-row: 2 / 12;
}

.mission-statement {
    padding-bottom: 100px;
}

.m-statement {
    margin-top: 60px;
    margin-bottom: 30px;
    line-height: 2em;
}

.about .content {
    padding: 20px 60px 20px 60px;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    height: fit-content;
}

.about .content:last-child {
    justify-content: center;
}

.member {
    width: 50%;
    margin-bottom: 50px;
}

.member p {
    font-size: 10pt;
    display: flex;
}

.member h5 {
    padding-left: 20px;
}

.filter .content {
    padding-bottom: 20px;
}

.filter .content h4 {
    margin-left: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.filter .content h5 {
    margin-left: 20px;
    margin-bottom: 5px;
}

.filter .content hr {
    width: 90%;
    border: 0;
    height: 0;
    border-top: 1px solid #0000001a;
    border-bottom: 1px solid #ffffff4d;
}

.divL {
    float: left;
    box-sizing: border-box;
    width: 30%;
    padding: 10px;
}

.divR {
    float: left;
    box-sizing: border-box;
    width: 70%;
    padding: 10px 5px 5px 5px;
    line-height: 1.3em;
}

.photo img {
    width: 137px;
    height: 137px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
}


/* Conctact Us page*/

.contact-us {
    grid-column: 1 / 10;
    grid-row: 2 / 8;
    box-sizing: border-box;
}

.contact-us .content {
    padding: 0px;
}

.details {
    grid-column: 10 / 13;
    grid-row: 2 / 8;
}

.details .content {
    margin-top: 20px;
}

.row {
    display: flex;
    padding: 5px;
}

.row input {
    margin: 0px 20px 0px 20px;
    width: 50%;
}

.block {
    padding: 20px;
    display: block;
}

.subject {
    box-sizing: border-box;
    margin: 10px 0px 20px 0px;
    width: 100%;
}

.area {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 11pt;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    outline: none;
    resize: none;
    height: 200px;
}

.area::placeholder {
    color: #a5a5a5;
}

.contact-form button {
    margin-bottom: 30px;
}

.contact-form h3 {
    padding: 20px;
}

.details h3,
h4 {
    font-weight: 400;
    line-height: 20px;
}

.contact-us-title {
    padding: 5px 0px 0px 10px;
}

.details-icons {
    font-size: 20px;
    margin: 20px 5px;
}

.details .link {
    color: #202020;
    font-size: 11pt;
    letter-spacing: .3px;
    transition: color .2s;
}

.details .link:hover {
    color: #636363;
}


/* Login Page */

.login {
    grid-column: 1 / 13;
    grid-row: 2 / 7;
    padding: 20px;
}

.my-account {
    grid-column: 1 / 13;
}


/* Lost-Password page*/

.lost-pass {
    padding: 20px;
    grid-column: 1 / 13;
    grid-row: 2 / 7;
}

.lost-pass input {
    width: 60%;
    outline: none;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    margin-top: 30px;
}

.lost-pass p,
h4 {
    margin-left: 30px;
}

.lost-pass button {
    margin-top: 40px;
}


/* Rgister page */

.register-box {
    grid-column: 1 / 13;
    grid-row: 2 / 7;
    padding: 20px;
}

.register-box .content {
    height: auto;
    padding-bottom: 40px;
}

.reg-form {
    display: flex;
}

.column1 {
    flex: 1;
    width: 50%;
}

.column2 {
    width: 50%;
}

.reg-form button {
    margin-top: 30px;
}

.register-box input {
    width: 70%;
    padding: 15px;
    margin: 0px 0px 20px 30px;
}

.register-box label {
    font-size: 12pt;
    margin-left: 30px;
}

.form-control {
    margin-bottom: 50px;
}

.form-control input {
    margin-bottom: 0;
}

.form-control small {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 9pt;
    visibility: hidden;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}


/* shopping cart */

.cart {
    grid-column: 1 / 13;
    grid-row: 2 / 7;
}

.cart .content {
    padding-bottom: 30px;
}

.case-title {
    display: block;
    width: 120px;
    margin: 50px;
}

.case-title h4 {
    float: left;
    font-size: 15pt;
    margin: 0;
    padding: 20px 0 10px 0px;
}

.case-title hr {
    width: 100%;
    border-bottom: 0.5px solid #e3e3e3;
}

.products-container {
    max-width: 750px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.product-header {
    width: 100%;
    max-width: 750px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #e3e3e3;
}

.product-header h5 {
    margin: 10px;
    font-weight: 400;
}

.product-title {
    width: 45%;
}

.product-price {
    width: 20%;
    display: flex;
    align-items: center;
}

.product-quantity {
    width: 30%;
    display: flex;
    align-items: center;
}

.cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}


/* cart product */

.cart-items {
    margin: 10px auto;
    max-width: 750px;
    justify-content: space-around;
}

.cart-item img {
    width: 70px;
    height: 90px;
    border-radius: 5px;
    margin-right: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 55%;
}

.cart-price {
    width: 150px;
    font-size: 1em;
    color: #333;
}

.cart-quantity {
    width: 170px;
}

.cart-quantity-input {
    width: 30px;
    padding: 2px;
    margin: 0px;
    text-align: center;
    border: none;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1em;
}

.cart-row:last-child {
    max-width: 750px;
    border-bottom: 1px solid #e3e3e3;
}

.btn {
    cursor: pointer;
    background: #ffffff;
    color: #999999;
    transition: 0.4s;
    border-radius: 0px;
    border: 0;
    margin-left: 10px;
}

.btn:hover {
    color: #e74c3c;
}

.cart-total {
    text-align: right;
    justify-content: space-around;
    margin: 0px auto;
    max-width: 700px;
    padding-top: 30px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 14pt;
    color: #1a1a1a;
    margin-right: 20px;
}

.btn-danger {
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
}

.btn-purchase {
    display: block;
    margin: 50px auto 80px auto;
}

.cart-total-price {
    color: #333;
    font-size: 14pt;
}

.arrowL {
    color: #999999;
    cursor: pointer;
    padding-right: 7px;
}

.arrowR {
    color: #999999;
    cursor: pointer;
    padding-left: 7px;
}

.arrowL:hover,
.arrowR:hover {
    color: #fdc23e;
}


/* Remove input arrows */


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* checkout page */

.check-out {
    grid-column: 1 / 13;
    grid-row: 7 / 15;
    display: none;
}